<div class="bg-dark h3 mt-2 mb-2 border-dark text-primary container">Games List</div>

<div class="row justify-content-center">
    <ng-container *ngFor="let game of gameList">
        <div class="col-12 col-sm-6 col-xl-4 col-md-4 col-lg-4">
            <app-game-card
                    [image_url]="game.thumbnail"
                    [title]="game.title"
                    [description]="game.short_description"
            >
            </app-game-card>
        </div>
    </ng-container>
</div>
