<div class="bg-dark h3 mt-2 mb-2 border-dark text-primary container-lg container-xl">Games List</div>

<app-game-filter-form [filters]="gameFilters"></app-game-filter-form>

<div class="row row-cols-md-3 justify-content-center">
    <ng-container *ngFor="let game of gameList">
        <div class="col mb-4">
            <app-game-card
                    [image_url]="game.thumbnail"
                    [title]="game.title"
                    [description]="game.short_description"
            >
            </app-game-card>
        </div>
    </ng-container>
</div>
