<header class="container-lg container-xl">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="button navbar-brand" routerLink="/">
            <fa-icon [icon]="faHome"></fa-icon>
        </a>
        <a class="button navbar-brand" routerLink="/games">Games</a>
        <a class="navbar-brand" routerLink="/games">Search</a>
    </nav>

</header>

<section id="content" class="container-lg container-xl mb-5">
    <div class="mt-2 mb-5">
        <router-outlet>
        </router-outlet>
    </div>
</section>

